# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/usingRaylib/.vs
*.ipch
*.vsidx
*.db
*.json

!**/raylib.dll
!**/raylib.lib
!**/raylibdll.lib
*.log
*.recipe
*.ilk
*.tlog
/std_game/usingRaylib/x64
/std_game/x64
/std_game/.vs
